@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Museo";
    src: url("../font/MuseoSans_500.otf");
}

@font-face {
    font-family: "FABrands";
    src: url("../font/fa-brands-400.ttf");
}

@font-face {
    font-family: "FASolid";
    src: url("../font/fa-solid-900.ttf");
}

.text-museo{
    font-family: "Museo";
}

.icono-brands{
    font-family: "FABrands";
}

.icono-solid{
    font-family: "FASolid";
}

.lime-grad{
    background: linear-gradient(180deg, rgba(101,163,13,1) 0%, rgba(77,124,15,1) 100%);
}

.marginMinus{
    margin-top: -40px;
}

.animarLogo{
    animation: desplazamiento 6s ease-in-out infinite;
}

@keyframes desplazamiento {
    0%{transform:translateY(0px) rotate(0deg);}
	50%{transform:translateY(30px) rotate(-5deg);}
	100%{transform:translateY(0px) rotate(0deg);}
}